services:
  teslamate:
    image: teslamate/teslamate:latest
    restart: always
    env_file:
      - ../stack.env
    ports:
      - 4000:4000
    volumes:
      - ./import:/opt/app/import
    cap_drop:
      - all

  database:
    image: postgres:17
    restart: always
    env_file:
      - ../stack.env
    ports:
      - 5431:5432
    volumes:
      - /mnt/data/teslamate-db:/var/lib/postgresql/data

  mosquitto:
    image: eclipse-mosquitto:2
    restart: always
    command: mosquitto -c /mosquitto-no-auth.conf
    # ports:
    #   - 1883:1883
    volumes:
      - /mnt/data/mosquitto-conf:/mosquitto/config
      - /mnt/data/mosquitto-data:/mosquitto/data
