services:
  obsidian:
    image: lscr.io/linuxserver/obsidian:latest
    container_name: obsidian
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /mnt/data/obsidian/config:/config
    ports:
      - 3100:3000
      - 3101:3001
    shm_size: "1gb"
    restart: unless-stopped
